/* Created by: Dominik Armatys
* Created on: mar 20 2023
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 22pt;
  padding-right: 22pt;
  padding-top: 22pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: rgb(0, 255, 149);
}

p {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 5pt;
}

img {
  height: auto;
  width: 450px;
  float: right;
  margin-top: auto;
}